apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: fpp-v1
  name: fpp-v1
spec:
  replicas: 5
  selector:
    matchLabels:
      app: fpp-v1
  strategy: { }
  minReadySeconds: 120
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: fpp-v1
    spec:
      containers:
        - image: devinaction/fpp-v3
          name: fpp-v1
          resources: { }
          startupProbe:
            httpGet:
              path: /livez
              port: 8081
            periodSeconds: 10
            failureThreshold: 12
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            periodSeconds: 5
            failureThreshold: 2
          livenessProbe:
            httpGet:
              path: /livez
              port: 8081
            periodSeconds: 5
            failureThreshold: 2
status: { }