server.port: 8083

#logging.level.org.springframework: trace

spring.application.name: consumer-db-kafka-template

#####  Admin Token #####

# Confluent Cloud Common configuration
spring.kafka.properties.sasl.mechanism: PLAIN
spring.kafka.properties.bootstrap.servers: pkc-l6wr6.europe-west2.gcp.confluent.cloud:9092
spring.kafka.properties.sasl.jaas.config: org.apache.kafka.common.security.plain.PlainLoginModule required username='RPJXOK3O3ONHZ64Y' password='pJds8EAHUSrMXMp/HawHGDMGZtde7XcUbcKaEs1gcWKJDUAY+8zsptc+mE3ErdBO';
spring.kafka.properties.security.protocol: SASL_SSL

# Confluent Cloud Schema Registry configuration
#spring.kafka.properties.basic.auth.credentials.source: USER_INFO
#spring.kafka.properties.schema.registry.basic.auth.user.info: RPJXOK3O3ONHZ64Y:pJds8EAHUSrMXMp/HawHGDMGZtde7XcUbcKaEs1gcWKJDUAY+8zsptc+mE3ErdBO
#spring.kafka.properties.schema.registry.url: https://psrc-4j8q8.europe-west3.gcp.confluent.cloud

##### Admin Token #####

#####  Read-Only SortCode1 Token #####

#spring.kafka.properties.sasl.mechanism: PLAIN
#spring.kafka.properties.bootstrap.servers: pkc-l6wr6.europe-west2.gcp.confluent.cloud:9092
#spring.kafka.properties.sasl.jaas.config: org.apache.kafka.common.security.plain.PlainLoginModule required username='3CBM27PABNOLFT2I' password='bohZYsGB0Hyy7DNsGRq4lfZY6FGqLEJJHZked8mgwnUaBGYSW3eNOG+nhrHrbw0m';
#spring.kafka.properties.security.protocol: SASL_SSL

#####  Read-Only SortCode1 Token #####

#####  Start - Database Config #####
#spring.datasource.url: jdbc:oracle:thin:@localhost:1521/XEPDB1
spring.datasource.url: jdbc:oracle:thin:@(DESCRIPTION=(TRANSPORT_CONNECT_TIMEOUT=3)(CONNECT_TIMEOUT=5)(RETRY_COUNT=2)(RETRY_DELAY=1)(FAILOVER=ON)(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(SOURCE_ROUTE=yes)(CONNECT_DATA=(SERVICE_NAME=XEPDB1)))
spring.datasource.username: system
spring.datasource.password: SysPassword1
spring.datasource.driver-class-name: oracle.jdbc.OracleDriver

# Hibernate ddl auto (create, create-drop, validate, update)
spring.jpa.hibernate.ddl-auto: update

# UCP settings
spring.datasource.type: oracle.ucp.jdbc.PoolDataSource
spring.datasource.oracle.ucp.connection-factory-class-name: oracle.jdbc.replay.OracleDataSourceImpl
spring.datasource.oracle.ucp.sql-for-validate-connection: select * from dual
spring.datasource.oracle.ucp.connection-pool-name: UcpPoolFPS
spring.datasource.oracle.ucp.initial-pool-size: 5
spring.datasource.oracle.ucp.min-pool-size: 5
spring.datasource.oracle.ucp.max-pool-size: 10

##Logging properties for UCP
#logging.level.root: debug
#logging.file.name: logs.log
logging.level.oracle.ucp: trace

#####  End - Database Config #####

#####  Start - Kafka Config #####
spring.cloud.function.definition: fpsPayment

spring.cloud.stream.bindings.fpsPayment-in-0.destination: fps-payment
spring.cloud.stream.bindings.fpsPayment-in-1.destination: reference-fps-sort-codes
spring.cloud.stream.kafka.streams.bindings.fpsPayment-in-0.consumer.valueSerde: com.lbg.serdes.FPSPaymentSerde
spring.cloud.stream.kafka.streams.bindings.fpsPayment-in-1.consumer.valueSerde: com.lbg.serdes.SortCodeFPSSerde
spring.cloud.stream.kafka.streams.bindings.fpsPayment-in-1.consumer.materializedAs: reference-fps-sort-codes-store
spring.cloud.stream.kafka.streams.binder.functions.fpsPayment.applicationId: fpsPayment
#####  End - Kafka Config #####

spring.output.ansi.enabled: ALWAYS

#logging.pattern.console: "%clr(%d{HH:mm:ss.SSS}){blue} %clr(---){faint} %clr([%15.15t]){yellow} %clr(:){red} %clr(%m){faint}%n"
